dash==0.42  # The core dash backend
dash-html-components==0.16  # HTML components
dash-core-components==0.47.0  # Supercharged components
dash-table==3.6.0  # Interactive DataTable component (new!)
sqlalchemy>=1.3.0
pandas
numpy